<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SliderBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB70047E1F2978AA007DF88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7004971F2978AA007DF88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7004A21F2978AA007DF88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
